<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
		</head>
		<body>
			<div id="Sidenav" class="sidenav">
			  	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			  	<a href="/">Home</a>
		      	<a href="/about">About</a>
	       		<a href="/work">Work</a>
			</div>

			<!-- <span id="icon" onclick="openNav()">T</span> -->

			<div id="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer id="footer">
	    		<ul> <!-- add summore links here -->
	        		<li><a href="mailto:twkeating1@gmail.com">email</a></li>
        			<li><a href="https://github.com/offscript">github.com/offscript</a></li>
				</ul>
			</footer>

		<script>
			function openNav() {
			  document.getElementById("Sidenav").style.width = "250px";
			  document.getElementById("container").style.marginLeft = "250px";
			  document.getElementById("footer").style.marginLeft = "250px";
				}
			function closeNav() {
			  document.getElementById("Sidenav").style.width = "0";
			  document.getElementById("container").style.marginLeft = "0";
			  document.getElementById("footer").style.marginLeft = "50px";
				}
		</script>	
		</body>
	</html>