<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div id="Sidenav" class="sidenav">
			  	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			  	<a href="/">Home</a>
		      	<a href="/about">About</a>
	       		<a href="/work">Work</a>
			</div>

			<div id="container">
			
			{{ content }}
			
			</div>
			<footer id="footer">
	    		<ul> 
	        		<li><a href="mailto:twkeating1@gmail.com">email</a></li>
        			<li><a href="https://github.com/offscript">github.com/offscript</a></li>
				</ul>
			</footer>

		<script>
			function openNav() {
			  document.getElementById("Sidenav").style.width = "250px";
			  document.getElementById("container").style.marginLeft = "250px";
			  document.getElementById("footer").style.marginLeft = "300px";
				}
			function closeNav() {
			  document.getElementById("Sidenav").style.width = "0";
			  document.getElementById("container").style.marginLeft = "0";
			  document.getElementById("footer").style.marginLeft = "50px";
				}
		</script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-101397585-1', 'auto');
		  ga('send', 'pageview');
		</script>

		</body>
	</html>